@font-face {
    font-family: 'px437_ati_8x16regular';
    src: url('../fonts/px437_ati_8x16-webfont.woff2') format('woff2'),
         url('../fonts/px437_ati_8x16-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'px437_ati_8x16regular';
}